page-compte {
	button {
	  padding: 0px;
	}

	ul.rating li {
	    padding: 1px 3px !important;
	    color: #FFE862;
	 
	    ion-icon {
	       font-size: 1.2em;
	       padding: 0px !important;
	    }
	 }

	 
	.no-padding {
   		 padding: 0px !important;
   		 margin: 0px !important;
	}

	.searchbar-md {
		.searchbar-input{
			padding: 0px;
			box-shadow: none;
		}
		.searchbar-search-icon{
			background-image: url(main.css);
    		width: 0px; 
    		height: 0px;
		}
	}

}
